<head>
    <script src="/javascripts/profile.js"></script>
</head>
<center>
    <div class="user-account-main">
        <div class="userr-account-style">
            <h1>Здравствуйте, {{userName}}</h1>

        </div>
</center>