<head>
    <script src="/javascripts/signin.js"></script>
</head>
<center>
    <div class="user-main-profile">
        <div id="user-login" class=" ">
            <div class="user-header">
                <h1>Вход на сайт</h1>
            </div>
            <div class="user-application">
                <label class="input-group ">
                    <span class="input-group-label">Ваш e-mail:</span><br>
                    <input id="user-email" class="input-group-input" type="text" name="email" value="">
                </label><br>

                <label class="input-group">
                    <span class="input-group-label">Ваш пароль:</span><br>
                    <input id="user-password" class="input-group-input" type="text" name="password" value="">
                </label><br>
            </div>
            <div class="user-login-btn">
                <button id="btn-submit-1" class="form-buttons button-sign">Отправить</button>
            </div>
            <p class="user-sign-up-error"></p>
        </div>
    </div>
</center>